
  * {
    box-sizing: border-box;
  }
body{
  margin: 0;
  height: 100vh;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  margin: 0;
}

@media screen and  (min-width:768px){
    .mainContainer {
      flex-direction: row;
  }
}